@charset "UTF-8";
/* CSS Document */

:root {
    --primary-color: #BB016E;
    --secondary-color: #FAD9DC;
    --background-color: #F9EFF0;
    --tittle-color: #AE9A63;
    --border-color: #AE9A63;
    --text-color: #333;
    

    --font-title: "Italiana", sans-serif;
    --font-subtitle: "Quattrocento Sans", sans-serif;
    --font-h2: "Pinyon Script", serif;
    --font-body: "Quattrocento", serif;
    --font-footer: "Work Sans", sans-serif; 
}

* {
  box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--primary-color);  
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    min-width: 300px;
}
nav#contato-info {
    width: 100%;
    height: 40px;
    background-color: var(--primary-color);
    text-align: center;

}

nav#contato-info a {
    display: inline-block;
    color: var(--background-color);
    text-decoration: none;
    margin-top: 10px;
}   

header {
    background-color: var(--background-color);
    min-width: 300px;
    max-width: 100%;
    height: 200px;
    margin: 0 auto;
    position: relative;       
}

header > #box-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #AE9A63;
    width: 90%;
    min-width: 300px;
    max-width: 420px;
    height: 120px;
}

header > #box-logo > h1 {
    font-family: var(--font-title);
    font-size: 31px;
    font-weight: bold;
    letter-spacing: 3px;
    color: var(--tittle-color);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
}

header > #box-logo > h2 {
    font-family: var(--font-subtitle);
    font-size: 1.1em;
    font-weight: 500;
    font-style: normal;
    color: var(--tittle-color);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
}
