@charset "UTF-8";
/* CSS Document */

:root {
    --primary-color: #BB016E;
    --secondary-color: #fde3e5;
    --background-color: #F9EFF0;
    --tittle-color: #AE9A63;
    --border-color: #AE9A63;
    --text-color: #333;
    

    --font-title: "Italiana", sans-serif;
    --font-subtitle: "Quattrocento Sans", sans-serif;
    --font-h2: "Pinyon Script", serif;
    --font-body: "Quattrocento", serif;
    --font-footer: "Work Sans", sans-serif; 
}

* {
  box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--primary-color);  
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    min-width: 320px;
}
nav#contato-info {
    width: 100%;
    height: 40px;
    background-color: var(--primary-color);
    text-align: center;

}

nav#contato-info a {
    display: inline-block;
    color: var(--background-color);
    text-decoration: none;
    margin-top: 10px;
}   

header {
    background-color: var(--secondary-color);
    min-width: 300px;
    max-width: 100%;
    height: 150px;
    margin: 0 auto;
    position: relative;       
}

header > #box-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #AE9A63;
    width: 95%;
    min-width: 320px;
    max-width: 420px;
    height: 120px;
}

header > #box-logo > h1 {
    font-family: var(--font-title);
    font-size: 2.2em;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--tittle-color);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
}

header > #box-logo > h2 {
    font-family: var(--font-subtitle);
    font-size: 1em;
    font-weight: 500;
    font-style: normal;
    color: var(--tittle-color);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

main {
    margin: auto;
    max-width: 1000px;
    min-width: 320px;
}
section.card {
    background-color: var(--background-color);
    width: 95%;
    margin: auto;
    box-shadow:  1px 2px 8px rgba(0, 0, 0, 0.411);
    text-align: center;
    position: relative;
}

section h2 {
    font-family: var(--font-h2);
    font-size: 3em;
    font-weight: 500;
    color: var(--primary-color);
    padding-top: 30px;
    margin: 10px 20px;
}

section p {
    font-family: var(--font-body);
    font-size: 1.2em;
    line-height: 1.5;
    color: var(--text-color);
    padding: 0 20px 20px 20px;
    margin: 0px;
}

#destaque img {
    display: block;
    margin: 0 auto;
    width: 95%;
}

#fachada img {
    display: block;
    margin: 0 auto;
    max-width: 380px;
    min-width: 320px;
}
